div.table-responsive
  table.table.table-hover
    thead
      tr.table-danger
        th(scope='col') First name
        th(scope='col') Last name
        th(scope='col') Email
        th(scope='col') Phone 
        th(scope='col') Gender
        th.text-right(scope='col') Operations               
    tbody
      each customer in customers
        tr(id='row'+customer._id)
          td #{customer.firstName}
          td #{customer.lastName}
          td #{customer.email}
          td #{customer.phone}
          td #{customer.gender}
          td.text-right
            a.btn.btn-warning(onclick='editCustomerFunction("'+customer._id+'")' type='button' data-toggle='modal' data-target='#customerModal')
              i.fa.fa-pencil.fa-fw
              |  Edit
            a.btn.btn-danger(onclick='deleteCustomerFunction("'+customer._id+'")' type='button' data-toggle='modal' data-target='#customerModal')
              i.fa.fa-times.fa-fw
              |  Delete       
