
form#editCustomerForm
  .modal-content
    .modal-header
      h4.modal-title Edit Customer
    .modal-body              
        .form-group
          .row
            .col-md-6
              label(for='firstName') First name
              input#firstName.form-control(type='text' name='firstName' placeholder='First name' value=customer.firstName)
            .col-md-6
              label(for='lastName') Last name
              input#lastName.form-control(type='text' name='lastName' placeholder='Last name' value=customer.lastName)
        .form-group
          label(for='email') Email
          input#email.form-control(type='email' name='email' placeholder='Email' value=customer.email)
        .form-group
          .row
            .col-md-6
              label(for='phone') Phone
              input#phone.form-control(type='text' name='phone' placeholder='Phone' value=customer.phone)
            .col-md-6
              label(for='gender') Gender
              select#gender.form-control(name='gender' placeholder='Gender')
                option(value='Male' selected=(customer.gender=='Male')) Male
                option(value='Female' selected=(customer.gender=='Female')) Female                
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Update

script.
  $('#editCustomerForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with customer
    $.ajax({
      url: "/api/customers/#{customer._id}",
      method: 'PUT',      
      data: {
        "firstName": $('#firstName').val(),
        "lastName": $('#lastName').val(),
        "email": $('#email').val(),
        "phone": $('#phone').val(),
        "gender": $('#gender').val()
      },
      success: data=>{
        $('#customerModal').modal('toggle');
        $('#customerList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });