
form#editRoomForm
  .modal-content
    .modal-header
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') &times;
      h4.modal-title Edit Room
    .modal-body              
        .form-group
          label(for='name') Room name
          input#name.form-control(type='text' name='name' placeholder='Room name' value=room.name)
        .form-group
          label(for='roomtype') Room Type
          select#roomtype.form-control(name='roomtype')            
            each roomtype in roomtypes
              option(value=roomtype._id selected=(room.roomtype.toString() == roomtype._id)) #{roomtype.type}
        .form-group
          label(for='price') Price
          input#price.form-control(type='number' name='price' placeholder='Price' value=room.price)   
        .form-group
          label(for='pricePer') Price Per
          select#pricePer.form-control(name='pricePer' placeholder='Type')
            option(value='Per-person' selected=(room.pricePer=='Per-person')) Per-person
            option(value='Per-room' selected=(room.pricePer=='Per-room')) Per-room             
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Update

script.
  $('#editRoomForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with room
    $.ajax({
      url: "/api/rooms/#{room._id}",
      method: 'PUT',      
      data: {
        "name": $('#name').val(),
        "roomtype": $('#roomtype').val(),
        "price": $('#price').val(),
        "pricePer": $('#pricePer').val()
      },
      success: data=>{
        $('#roomModal').modal('toggle');
        $('#roomList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });